.squares {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.leftSquare {
    border: black 3px solid;
    height: 200px;
}

.middleSquare {
    border: black 3px solid;

}

.rightSquare {
    border: black 3px solid;

}