.squares {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.leftSquare {
    height: max-content;
}

.middletSquare {

}

.rightSquare {

}