.squares {
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.leftSquare {
    border: black 3px solid;
    height: 600px;
}

.middleSquare {
    border: black 3px solid;

}

.rightSquare {
    border: black 3px solid;

}