.overlayTop {
    position: absolute;
    top: 0%;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}


.backgroundImage {
    position: absolute;
    top: 16.8%;
    left: 0;
    right: 0;
    bottom: 266%;
    height: 50%;
    width: 100%;
    background-image: url(/src/assets/img/restuaruantImage.jpg);
    background-size: cover;
    background-position: center;
}

.contactInfo {
    padding: 15%;
    font: bolder ;
}