.overlayTop {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50%;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}


.backgroundImage {
    position: absolute;
  top: 16%;
  left: 0;
  right: 0;
  bottom: 266%;
  height: 34%;
  width: 100%;
  background-image: url(/src/assets/img/restuaruantImage.jpg);
  background-size: cover;
  background-position: center;
}