.overlayTop {
    position: absolute;
    top: 13.7%;
    left: 0;
    right: 0;
    bottom: 38%;
    background-image: url("src\pages\Home.module.cssC:\Dev\FreeTime\ejstrup-pizza\src\assets\img\restuaruantImage.jpg");
    /* background-color: rgba(0, 0, 0, 0.582); */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}
