.overlayTop {
    position: absolute;
    top: 15.4%;
    left: 0;
    right: 0;
    bottom: 38%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

