.squares {
    gap: 1vh;
    height: 85vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.leftSquare {
    display: flex;
    flex-direction: row;
    border: black 3px solid;
    height: 700px;
    width: 500px;
}

.middleSquare {
    border: black 3px solid;
    height: 700px;
    width: 500px;
}

.rightSquare {
    border: black 3px solid;
    height: 700px;
    width: 500px;
}