/* .overlayTop {
    position: absolute;
    top: 15.4%;
    left: 0;
    right: 0;
    bottom: 38%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
} */

.homeContainer {
    position: relative;
}
.overlay {
    position: absolute;
    top: 15.4%;
    left: 0;
    right: 0;
    bottom: 38%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.image {
    width: 30%;
    height: 30%;
    position: relative;
    z-index: 1;
}
