.navbarClass {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin: 0%;
    padding: 15px;
    background-color: #9b1b30e9;
    border-radius: 2px;
    border-bottom: white solid 5px;
    
}

.navbar {
    margin: 0px 5% 0px 0%;
    display: flex;
    justify-content: center;
}
.navItem {
    display: inline-block;
    padding: 10px;
    position: relative;
  }
  
  .navItem::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s;
  }
  
  .navItem:hover::after {
    width: 100%;
  }

.navLink {
    text-decoration: none;
    color: white;
    margin: 5%;
    font-weight: bold;
    font-size: 120%;
}