.navbarClass {
    margin: 5px;
}

.navbar {
    margin: 50px;
    display: flex;
    justify-content: center;
}

.navItem {
    padding: 10px;
    font-size: 35px;
    font-weight: bold;
    list-style: none;
}

.navLink {
    text-decoration: none;
    color: black;
}

.logoContainer {
    float: left;
}

.logo {
    width: 100px;
    height: 85px;
    margin: 10px;
}
