.navbarClass {
    height: 100%;
    width: 100%;
    margin: 5%;
    padding: 15px;
    background-color: rgba(235, 235, 235, 0.952);
    border-radius: 2px;
}

.navbar {
    margin: 0px 50px 0px 5%;
    display: flex;
    justify-content: center;
}

.navItem {
    display: inline-block;
    padding: 10px;
    position: relative;
    font-size: 35px;
    font-weight: bold;
    list-style: none;
}



.navLink {
    text-decoration: none;
    color: #9B1B30;
}