.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    text-align: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
    animation: slide-in 1s ease-out;
    position: absolute;
}

@keyframes slide-in {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
  }