.titleContainer {
    display: flex;
    justify-content: center;
    gap: 9px;
}

.title {
    margin: 0px;
    color: #9B1B30;
    font-size: 50px;
}

.sinceTitle {
    margin-top: 27px;
    color: #9B1B30;
    font-size: 25px;
}

.eliteSmileyImage {
    justify-content: end;
}
